# OS
.DS_Store
Thumbs.db

# Android / Gradle
.gradle/
**/build/
local.properties
captures/
*.apk
*.aab
*.ap_
*.dex
*.class
*.hprof

# Android Studio / IntelliJ
.idea/
*.iml

# Kotlin / Java
*.log
*.tmp

# Signing
*.jks
*.keystore

# Go
bin/
*.test
coverage.out
*.prof

# Env
.env
.env.*

# VS Code
.vscode/
